EXAMPLES & GUIDES:
- Milk goes into the category of: 'Élelmiszer - Innivaló - Tej' and the product name should be '2,8%' by default, unless the name on the receipt implies that it is '1,5%' or 'Növényi'
