EXAMPLES & GUIDES:
- Milk goes into the category of: 'Élelmiszer - Innivaló - Tej' and the product name should be '2,8%' by default, unless the name on the receipt implies that it is '1,5%' or 'Növényi'

Guides:
- `Lord Nelson` is a tea brand often abbreviated as `LORD NEL.`, put this into the `Innivaló - Tea` category and choose the best matching product based on other words in the item's name
- I often buy _Lime Juice_ which is similar to _Lemon juice_ so if you find something like `LIME ÍZESÍTŐ` then put this into `Élelmiszer - Étel - Ízesítés - Citromlé`
