INPUT:
Available Cost Groups:
{{- range $index, $group := .CostGroups }}
{{ add $index 1 }}. {{ $group }}
{{- end }}

Receipt Items to Categorize:
{{- range $index, $item := .Items }}
{{ add $index 1 }}. "{{ $item.Name }}"
{{- end }}