EXAMPLES & GUIDES:
{{/* Static examples embedded directly */}}
- Input: "T/P TEJ 1.5L", Expected Output Cost Group: "Élelmiszer"
- Input: "NIVEA TUSFÜRDŐ", Expected Output Cost Group: "Drogéria"
- Input: "CSIRK£M€LL FILÉ", Expected Output Cost Group: "Élelmiszer"
{{/* Add more examples representative of your data */}}